<%= render :partial => 'sheet' %>

<!-- party_activity -->
<div class="party_activity">

<%= render :partial => 'menu' %>
  
  <!-- party_activity_cont -->
  <div class="party_activity_cont">
    <%= render :partial => 'parliamentarians' %>

    <h3><%= I18n.t("headers.actividad_parlamentaria_del_partido") %></h3>
    <!-- party_activity_menu -->
    <ul class="party_activity_menu">
      <li class="first"><%= link_to I18n.t("asuntos"), party_path(@party) %></li>
      <li><%= link_to I18n.t("debates"), interventions_party_path(@party) %></li>
      <li class="last active"><%= link_to I18n.t("comisiones"), commissions_party_path(@party) %></li>
    </ul>
    <!-- /party_activity_menu -->
    
    <!-- commissions_participants -->
    <div class="commissions_participants">
      <h4 class="commissions_participants_title"><%= I18n.t("headers.comisiones_en_las_que_participan") %></h4>
      <% if !@commissions.blank? %>
        <% for comi in @commissions %>
          <div class="commission_participant">
            <h5><%= link_to comi.name, commision_path(comi) %></h5>
            <% if !comi.members.blank? %>
                  <dl class="line">
                    <dt><%= I18n.t("parlamentarios") %>:</dt>
                    <dd>
                      <% for member in comi.members %>
                        <% if member.party == @party %>
                          <%= link_to member.full_name, parliamentarian_path(member) %> (
                          <%= I18n.t("commisions.presidente") if comi.members_as_president.include?(member)%>
                          <%= I18n.t("commisions.vicepresidente") if comi.members_as_vicepresident.include?(member)%>
                          <%= I18n.t("commisions.secretario") if comi.members_as_secretary.include?(member)%>
                          <%= I18n.t("commisions.vocal") if comi.members_as_vocal.include?(member)%>)
                        <% end %>
                      <% end %>   
                    </dd>
                  </dl>
            <% end %>
          </div>
          
        <% end %>
      <% end %>
     
    </div>
    <!-- /commissions_participants -->
    
    <!-- commission_cont -->  
    <%# 
    <div class="commission_cont">
      <h4>iniciativas</h4>
      <h5>Comisión de Vivienda, Obras Públicas y Transportes</h5>
      <!-- commission_list -->
      <ul class="commission_list">
        <li class="commission">
          <a href="#">Elección de la Mesa</a>
          <span class="date">date</span>
        </li>
        <li class="commission">
          <a href="#">Resolución sobre la solicitud de comparecencia del consejero de Vivienda, Obras Públicas y Transportes, formulada por el grupo Nacionalistas Vascos, para informar sobre la política y las actuaciones a desarrollar durante la legislatura por su departamento, y, en su caso, celebración de la comparecencia y comparecencia del consejero de Vivienda, Obras Públicas y Transportes, a petición propia, para exponer las líneas generales de actuación de su departamento.</a>
          <span class="date">date</span>
        </li>
      </ul>
      <!-- /commission_list -->
      
      <h5>Comisión de Vivienda, Obras Públicas y Transportes</h5>
      <!-- commission_list -->
      <ul class="commission_list">
        <li class="commission">
          <a href="#">Elección de la Mesa</a>
          <span class="date">date</span>
        </li>
        <li class="commission">
          <a href="#">Resolución sobre la solicitud de comparecencia del consejero de Vivienda, Obras Públicas y Transportes, formulada por el grupo Nacionalistas Vascos, para informar sobre la política y las actuaciones a desarrollar durante la legislatura por su departamento, y, en su caso, celebración de la comparecencia y comparecencia del consejero de Vivienda, Obras Públicas y Transportes, a petición propia, para exponer las líneas generales de actuación de su departamento.</a>
          <span class="date">date</span>
        </li>
      </ul>
      <!-- /commission_list -->
    </div>
     %>
    <!-- commission_cont -->
    
  </div>
  <!-- /party_activity_cont -->
  
</div>
<!-- /party_activity -->
