<%= render :partial => 'sheet' %>

<!-- party_activity -->
<div class="party_activity">

<%= render :partial => 'menu' %>

  <!-- party_activity_cont -->
  <div class="party_activity_cont">
    <%= render :partial => 'parliamentarians' %>

    <h3>Actividad parlamentaria del partido</h3>
    <!-- party_activity_menu -->
    <ul class="party_activity_menu">
      <li class="first"><%= link_to "Asuntos", party_path(@party) %></li>
      <li class="active"><%= link_to "Debates", interventions_party_path(@party) %></li>
      <li class="last"><%= link_to "Comisiones", commissions_party_path(@party) %></li>
    </ul>
    <!-- /party_activity_menu -->

    <!-- discussion_cont -->
    <div class="discussion_cont">
      <!-- discussion_list -->
      <div class="discussion_list">

        <% if !@party.interventions.blank? %>
          <% for i in @party.interventions %>
            <!-- discussion -->
            <div class="activity discussion">
              <h2 class="title"><%= link_to i.subject_title, intervention_path(i) %></h2>
              <dl class="activity_meta line">
                <dt>Fecha:</dt>
                <dd><%= i.session_date %></dd>
              </dl>
            </div>
            <!-- /discussion -->
          <% end %>
        <% end %>

      </div>
      <!-- /discussion_list -->
    </div>
    <!-- /discussion_cont -->

  </div>
  <!-- /party_activity_cont -->

</div>
<!-- /party_activity -->
