<%= render :partial => 'sheet' %>

<!-- party_activity -->
<div class="party_activity">

<%= render :partial => 'menu' %>
  
  <!-- party_activity_cont -->
  <div class="party_activity_cont">
    <%= render :partial => 'parliamentarians' %>
    
    <h3><%= I18n.t("headers.actividad_parlamentaria_del_partido") %></h3>
    <!-- party_activity_menu -->
    <ul class="party_activity_menu">
      <li class="first active"><%= link_to I18n.t("asuntos"), party_path(@party) %></li>
      <li><%= link_to I18n.t("debates"), interventions_party_path(@party) %></li>
      <li class="last"><%= link_to I18n.t("comisiones"), commissions_party_path(@party) %></li>
    </ul>
    <!-- /party_activity_menu -->
    
    <!-- subject_cont -->
    <div class="subject_cont">

      <% if !@party.initiatives.blank? %>
        <% for i in @party.initiatives %>
        <!-- subject -->
        <div class="activity subject">
          <h4 class="title"><%= link_to i.title, initiative_path(i) %></h4>
          <p class="activity_type"><span><%= i.initiative_type %></span></p>
          <dl class="activity_meta line">
            <dt><%= I18n.t("info.fecha") %>:</dt>
            <dd><%= i.initiative_date %></dd>
            <dt><%= I18n.t("info.por") %>:</dt>
            <dd><%= link_to i.parliamentarian.full_name, parliamentarian_path(i.parliamentarian), :class=>"author" %> <%= I18n.t("info.de") %> 
            <%= link_to i.parliamentarian.party.party_acronym, party_path(i.parliamentarian.party), :class => "party_name" %></dd>
          </dl>
          <%= render :partial => 'activity/activity_tags', :locals => { :activity => i } %>
        </div>
        <!-- /subject -->
        <% end %>
      <% end %>
      
    </div>
    <!-- /subject_cont -->
    
  </div>
  <!-- /party_activity_cont -->
  
</div>
<!-- /party_activity -->
