<%= auto_discovery_link_tag(:atom, commision_path(@commision, :format => :atom), :title => "Parlio: #{@commision.name}") %>

<%= render :partial => 'shared/activity_claim' %>


<!-- tab_system -->
<div class="tab_system tab_system_subjects">

  <%= render :partial => 'activity/activity_menu' %>

  <!-- tab_cont -->
  <div class="tab_cont">
    <%= render :partial => 'menu' %>


    <!-- commission_cont -->
    <div class="commission_cont">
      <h2><%= @commision.name %></h2>

      <!-- commission_cont_cols -->
      <div class="commission_cont_cols">

        <!-- commission_cont_col_left -->
        <div class="commission_cont_col commission_cont_col_left">
          <!-- commission_list -->
          <% unless @activity.blank? %>
            <ul class="commission_list">
            <% for t in @activity %>
              <li class="commission">
              <% if t.instance_of? Initiative %>
                <div class="last_activity last_subject">
                  <p class="date"><strong><%= t.initiative_date %>, <%= I18n.t("asunto") %></strong></p>
                  <p class="title"><%= link_to t.title, initiative_path(t) %></p>
                  <p class="author"><%=I18n.t("info.por")%>: <%= initiative_author(t) -%></p>
                </div>
              <% else %>
                <div class="last_activity last_discussion">
                  <p class="date"><strong><%= t.session_date %>, <%= I18n.t("debate") %></strong></p>
                  <p class="title"><%= link_to t.subject_title, intervention_path(t) %></p>
                </div>
              <% end %>                  
              </li>
            <% end %>
            </ul>
            <%= will_paginate @activity, :class => 'pag_nav' %>
          <% end %>
          <!-- /commission_list -->
          <%= render :partial => 'shared/rss_mod', :locals => {:url => commision_path(@commision, :format => :atom)} %>
          
        </div>
        <!-- /commission_cont_col_left -->

        <!-- commission_cont_col_right -->
        <div class="commission_cont_col commission_cont_col_right">

          <!-- parliamentarians_mod -->
           <div class="parliamentarians_mod">
             <h3><%= I18n.t("commisions.presidente") %></h3>
             <!-- parliamentarians_list -->
             <div class="parliamentarians_list">
               <% if !@commision.members_as_president.blank? %>
                 <% for member in @commision.members_as_president %>
                   <!-- parliamentarian -->
                   <div class="parliamentarian">
                     <%= parlavatar(member) %>
                     <div class="main">
                       <h4 class="name"><%= link_to member.full_name, parliamentarian_path(member) %></h4>
                       <p class="party"><%= link_to member.party.party_acronym, party_path(member.party), :class => "party_name" %></p>
                       <p class="subject_num"><%= member.interventions.size %> <%= I18n.t("intervenciones") %></p>
                     </div>
                   </div>
                   <!-- parliamentarian -->
                 <% end %>
               <% end %>

             </div>
             <!-- /parliamentarians_list -->
           </div>
           <!-- /parliamentarians_mod -->
           
           <!-- parliamentarians_mod -->
            <div class="parliamentarians_mod">
              <h3><%= I18n.t("commisions.vicepresidente") %></h3>
              <!-- parliamentarians_list -->
              <div class="parliamentarians_list">
                <% if !@commision.members_as_vicepresident.blank? %>
                  <% for member in @commision.members_as_vicepresident %>
                    <!-- parliamentarian -->
                    <div class="parliamentarian">
                      <%= parlavatar(member) %>
                      <div class="main">
                        <h4 class="name"><%= link_to member.full_name, parliamentarian_path(member) %></h4>
                        <p class="party"><%= link_to member.party.party_acronym, party_path(member.party), :class => "party_name" %></p>
                        <p class="subject_num"><%= member.interventions.size %> <%= I18n.t("intervenciones") %></p>
                      </div>
                    </div>
                    <!-- parliamentarian -->
                  <% end %>
                <% end %>

              </div>
              <!-- /parliamentarians_list -->
            </div>
            <!-- /parliamentarians_mod -->
 
            <!-- parliamentarians_mod -->
             <div class="parliamentarians_mod">
               <h3><%= I18n.t("commisions.secretario") %></h3>
               <!-- parliamentarians_list -->
               <div class="parliamentarians_list">
                 <% if !@commision.members_as_secretary.blank? %>
                   <% for member in @commision.members_as_secretary %>
                     <!-- parliamentarian -->
                     <div class="parliamentarian">
                       <%= parlavatar(member) %>
                       <div class="main">
                         <h4 class="name"><%= link_to member.full_name, parliamentarian_path(member) %></h4>
                         <p class="party"><%= link_to member.party.party_acronym, party_path(member.party), :class => "party_name" %></p>
                         <p class="subject_num"><%= member.interventions.size %> <%= I18n.t("intervenciones") %></p>
                       </div>
                     </div>
                     <!-- parliamentarian -->
                   <% end %>
                 <% end %>

               </div>
               <!-- /parliamentarians_list -->
             </div>
             <!-- /parliamentarians_mod -->

             <!-- parliamentarians_mod -->
              <div class="parliamentarians_mod">
                <h3><%= I18n.t("commisions.vocales") %></h3>
                <!-- parliamentarians_list -->
                <div class="parliamentarians_list">
                  <% if !@commision.members_as_vocal.blank? %>
                    <% for member in @commision.members_as_vocal %>
                      <!-- parliamentarian -->
                      <div class="parliamentarian">
                        <%= parlavatar(member) %>
                        <div class="main">
                          <h4 class="name"><%= link_to member.full_name, parliamentarian_path(member) %></h4>
                          <p class="party"><%= link_to member.party.party_acronym, party_path(member.party), :class => "party_name" %></p>
                          <p class="subject_num"><%= member.interventions.size %> <%= I18n.t("intervenciones") %></p>
                        </div>
                      </div>
                      <!-- parliamentarian -->
                    <% end %>
                  <% end %>

                </div>
                <!-- /parliamentarians_list -->
              </div>
              <!-- /parliamentarians_mod -->

        </div>
        <!-- /commission_cont_col_right -->

      </div>
      <!-- /commission_cont_cols -->

    </div>
    <!-- /commission_cont -->

  </div>
  <!-- /tab_cont -->
</div>
<!-- /tab_system -->
