<p><%= @initiative.num_exp %></p>
<p><%= @initiative.title %></p>
<p>Por: <%= link_to @initiative.parliamentarian.full_name, parliamentarian_path(@initiative.parliamentarian) %></p>
<br/>
<br/>

<p><%= @initiative.party %></p>
<p>
  Etiquetas<br/>
  <% if !@initiative.tags.blank? %>
    <% for tag in @initiative.tags %>
      <%= link_to tag, initiatives_by_tag_path(tag.name) %>
    <% end %>
  <% end %>
  
  <%=  %> 
</p>
<p><%= @initiative.num_exp %></p>
<p><%= @initiative.votings %></p>

