<h1>Actividad</h1>
<p class="claim">Qué ocurre en el Parlamento Vasco</p>

<!-- tab_system -->
<div class="tab_system tab_system_subjects">

  <%= render :partial => 'activity/activity_menu' %>

  <!-- tab_cont -->
  <div class="tab_cont">
    
    <%= render :partial => 'activity/topics' %>
    
    <!-- subject_cont -->
    <div class="subject_cont">   
      <% if @initiative.topic %>
        <h2><%= @initiative.topic.name %></h2>
      <% end %>

      <!-- subject -->
      <div class="activity subject">
        <h3 class="title"><%= link_to @initiative.title, initiative_path(@initiative)%></h3>
        <p class="activity_type"><span><%= @initiative.initiative_type %></span></p>
        
        <%= render :partial => 'activity/activity_meta_line', :locals => { :activity => @initiative } %>
      </div>
      <!-- /subject -->
                           
      <%= render :partial => 'activity/activity_tags', :locals => { :activity => @initiative } %>
      

      
      <!-- file_mod -->
      <div class="file_mod">
        <h4>Documentos</h4>
        
        <ul class="file_list">
          <% @initiative.announcements.each do |anno| %>
            <li>
              <% link_to anno.announcement_url, :class => "file" do  %>
                <span class="file_title"> <%= @initiative.title %></span>
                <span class="file_meta">(<acronym title="Texto plano">TXT</acronym>)</span>
              <% end %>
            </li>
          <% end %>
          
        </ul>
      </div>
      <!-- /file_mod -->
      
      <!-- evolution_mod -->
      <div class="evolution_mod">
        <h2>Evolución</h2>
        <dl class="evolution_sheet">
          <dt>Situación:</dt>
          <% if @initiative.status == Initiative::OPEN %>
            <dd>En proceso</dd>
          <% else %>
            <dd>Cerrada</dd>
          <% end %>
          <!--<dt>Plazo de presentación:</dt>
          <dd>03.09.2009 Plazo para que conteste el Gobierno Vasco</dd>-->
          <dt>Trámites por los que ha pasado:</dt>
          <dd>
            
            <ul class="file_list">
            <% @initiative.procedures.each do |p| %>
              <li>
                <a class="file file_pdf" href="<%= p.url%>">
                  <span class="date"><%= p.procedure_date %></span>
                  <span class="file_title"><%= p.title -%></span>
                  <!--<span class="file_meta">(<acronym title="Portable Document Format">PDF</acronym>, 2.4 <abbr title="Megabytes">Mb.</abbr>)</span>-->
                </a>
              </li>
            <% end %>
            </ul>
            
          </dd>
        </dl>
      </div>
      <!-- /evolution_mod -->
    </div>
    <!-- /subject_cont -->
    
  </div>
  <!-- /tab_cont -->
</div>
<!-- /tab_system -->