<ul>
  <li><%= link_to "Parlamentarios", parliamentarians_path %></li>
  <li><%= link_to "Actividad", activity_path %></li>
  <li><%= link_to "Sobre Parlio", about_path %></li>
  <li>
    <% form_tag(search_url, {:method => :get, :id => "global_search"}) do -%>
      <%= label :search_term, "Search" %>
      <%= text_field_tag :search_term, "texto a buscar", :onclick => '$("search_term").select();' %>
      <%= submit_tag "go" %>
    <% end -%>
  </li>
</ul> 