<!-- header -->
<div id="header">
  <!-- inside -->
  <div class="inside">
    <div id="logo_parliament">
      <a href="/"><img src="/images/logo_parliament.png" height="76" width="307" alt="Logotipo de Parliament" /></a>
    </div>

    <ul class="lang">
      <li><a href="#">euskara</a></li>
      <li><a href="#">español</a></li>
    </ul>
    
    <% form_tag(search_url, {:method => :get, :id => "global_search"}) do -%>
      <%= label :search_term, "Buscador" %>
      <%= text_field_tag :search_term, "¿Qué buscas?", :onclick => "this.select();" %>
      <%= submit_tag "Buscar" %>
    <% end -%>
    
    <ul class="main_menu">
      <li <%= main_tab_class('parliament') %> ><%= link_to "Parlamentarios", parliamentarians_path %></li>
      <li <%= main_tab_class('activity') %> ><%= link_to "Actividad", initiatives_path %></li>
      <li <%= main_tab_class('about') %> ><%= link_to "Sobre Parlio", about_path %></li>
    </ul>



  </div>
  <!-- /inside -->
</div>
<!-- /header -->