<h1 class="hide"><%= I18n.t("home.index.parliament") %></h1>

<!-- presentation -->
<div class="presentation">

  <div class="intro">
    <h2><%= I18n.t("intro.te_representan") %></h2>
    <p><%= I18n.t("intro.lo_que_se_debate") %></p>
  </div>

  <!-- parlio_definition -->
  <div class="parlio_definition">
    <div class="yes">
      <h3><%= I18n.t("intro.parlio_si.header") %></h3>
      <ul>
        <li><%= I18n.t("intro.parlio_si.un_lugar") %></li>
        <li><%= I18n.t("intro.parlio_si.iniciativa_probono") %></li>
      </ul>
    </div>

    <div class="no">
      <h3><%= I18n.t("intro.parlio_no.header") %></h3>
      <ul>
        <li><%= I18n.t("intro.parlio_no.web_oficial") %></li>
        <li><%= I18n.t("intro.parlio_no.sitio_juicios") %></li>
      </ul>
    </div>
  </div>
  <!-- /parlio_definition -->

</div>
<!-- /presentation -->

<!-- index_cols -->
<div class="index_cols">
  <!-- parliament_activity -->
  <div class="index_col parliament_activity">

    <h2><%= I18n.t("headers.actividad_parlamentaria") %></h2>
    
    
    <% if !@parlio_activity.blank? %>
      <% for t in @parlio_activity %>
        <% if t.instance_of? Initiative %>
          <div class="last_activity last_subject">
            <h3 class="label subject_label"><a href="#"><%= I18n.t("asunto") %></a></h3>
            <p class="date"><%= t.initiative_date %></p>
            <p class="title"><%= link_to t.title, initiative_path(t) %></p>
            <p class="author"><strong><%= I18n.t("info.por") %>:</strong> <%= link_to t.parliamentarian.full_name, parliamentarian_path(t.parliamentarian) %> <%= I18n.t("info.de") %> <%= link_to t.parliamentarian.party.party_acronym, party_path(t.parliamentarian.party) %></p>
          </div>
        <% else %>
          <div class="last_activity last_discussion">
            <h3 class="label discussion_label"><a href="#"><%= I18n.t("debate") %></a></h3>
            <p class="date"><%= t.session_date %></p>
            <p class="title"><%= link_to t.subject_title, intervention_path(t) %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>

  </div>
  <!-- /parliament_activity -->

  <!-- actual_subjects -->
  <div class="index_col current_subjects">

    <h2><%= I18n.t("headers.asuntos_de_actualidad") %></h2>

    <!-- categories -->
    <div class="categories">
      <h3>Categorías</h3>    
      <% if !@most_active.blank? %>
        <ul>
          <% for t in @most_active %>
            <li><%= link_to t.name, topic_path(t) %> <span class="subject_num"></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <!-- /categories -->

    <!-- tags -->
    <div class="tags">

      <!-- tag_mod -->
      <div class="tag_mod">
        <h3><%= I18n.t("headers.etiquetas") %></h3>
        <% if !@most_active_tags.blank? %>
          <ul class="tag_list">
            <% for t in @most_active_tags %>
              <li><%= link_to t.name, initiatives_by_tag_path(t.name), :class => "tag" %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <!-- /tag_mod -->

    </div>
    <!-- /tags -->

  </div>
  <!-- /actual_subjects -->

  <!-- actual_parliamentarians -->
  <div class="index_col parliamentarians_list">

    <h2><%= I18n.t("headers.parlamentarios_de_actualidad") %></h2>
    <!-- parliamentarians_list -->             
    
    <% if !@most_active_parliamentarians.blank? %>
      <!-- parliamentarians_list -->
      <div class="parliamentarians_list">
        <% for p in @most_active_parliamentarians %>
          <!-- parliamentarian -->
          <div class="parliamentarian">
            <%= parlavatar(p) %>
            <div class="main">
              <h2 class="name"><%= link_to p.full_name, parliamentarian_path(p) %> </h2>
              <p class="party"><%= link_to p.party.party_acronym, party_path(p.party), :class => "party_name" %></p>
              <p class="subject_num"><%= p.initiatives.size %> <%= I18n.t("iniciativas") %></p>
            </div>
          </div>
        <% end %>
      </div>
      <!-- /parliamentarians_list -->
    <% end %>
    
    
  </div>
  <!-- /actual_parliamentarians -->
</div>
<!-- /index_cols -->