<div class="special_rumble_banner" style="background-color:#FFF9AD; padding: 20px; border: 4px solid #EFE0C5">
  <h2>Special information for <%= link_to "2009 Rails Rumble", "http://r09.railsrumble.com/" %>'s Judges</h2>
  <p>
    Here are some of the main key points about <%= link_to "parlio.org", "http://www.parlio.org" %>:
    <ul>
      <li> ⊱ All the information <strong>has been extracted from <%= link_to "Basque Country Parliament", "http://www.parlamento.euskadi.net" %> official site</strong>.</li>
      <li> ⊱ <strong>A great effort has been made scraping the data</strong> from the original source given there is no API, RSS o structured way to access data (by the way this is one of the main reasons to implement <%= link_to "parlio.org", "http://www.parlio.org" %>)</li>
      <li> ⊱ This efforts has been made using <%= link_to "legebiltzarra", "http://github.com/probono/legebiltzarra" %> an OS library that has been greatly improved thanks to this Rumble project and <strong>will release a new version soon</strong>.</li>
      <li> ⊱ <%= link_to "parlio.org", "http://www.parlio.org" %> will be freely donated to <%= link_to "Pro Bono Publico", "http://www.probp.org" %> an association that <strong>promote the use of open source, standards and data in the Spanish goverment</strong>. </li>
      <li> ⊱ We understand that a non english application could be difficult to evaluate for some judges but we wanted to build something really useful for the people and 48 hours are 48 hours.
      </li>    
      <br/>  
      <li> ⊱ <strong>You can browse an google translated version through this link: <%= link_to "Parlio english version", "http://translate.google.com/translate?prev=hp&hl=es&js=y&u=http%3A%2F%2Fwww.parlio.org&sl=es&tl=en&history_state0=" %></strong>
      </li>   
    </ul>
  </p>
</div>

<h2>Sobre Parlio</h2>

<h3>¿Por qué lo hacemos?</h3>
<p>
  Hay datos, como los contenidos de los asuntos y debates que están en documentos no estructurados, por lo que no podemos hacer nada con ellos. Y queremos facilitar la labor de identiﬁcación y publicación de estos datos para que las instituciones públicas como el Parlamento Vasco sepan qué es lo que es necesario hacer. 
</p>                                                                                                                           

<h3>¿De dónde salen los datos? </h3>
<p>
  Del propio sitio web del Parlamento Vasco, <%= link_to "http://parlamento.euskadi.net", "http://www.parlamento.euskadi.net" %>. Sin embargo, estos datos no son libres ni fácilmente accesibles por parte de terceros, por lo que hemos tenido que utilizar técnicas un tanto <em>sui generis</em> para lograrlos. No hemos podido acceder directamente a la base de datos del Parlamento Vasco porque su acceso no es público. 
</p>



<h4>¿Puedo utilizarlos yo? </h4>

<p>
  Claro, para eso están. De todos modos, dada la técnica empleada, corremos un riesgo. Y ese riesgo es que como modiﬁquen la estructura de su contenido por algún casual, perderíamos el acceso a esos datos. 
</p>
                                                                                                                                     