<ul class="tab_menu">

  <li<%= " class='active'" if controller_name=='initiatives' || controller_name=='taggings' || controller_name=='topics' %>><%= link_to "Asuntos", initiatives_path %></li>
  <li<%= " class='active'" if controller_name=='interventions' %>><%= link_to "Debates", interventions_path %></li>
  <li<%= " class='active'" if controller_name=='commisions' %>><%= link_to "Comisiones", commisions_path %></li>
</ul>   
