<ul class="tab_menu">

  <li<%= " class='active'" if controller_name=='initiatives' || controller_name=='taggings' || controller_name=='topics' %>><%= link_to I18n.t("asuntos"), initiatives_path %></li>
  <li<%= " class='active'" if controller_name=='interventions' %>><%= link_to I18n.t("debates"), interventions_path %></li>
  <li<%= " class='active'" if controller_name=='commisions' %>><%= link_to I18n.t("comisiones"), commisions_path %></li>
</ul>   
