<h1><%= I18n.t("actividad") %></h1>
<p class="claim"><%= I18n.t("parlamento.claim", :parliament_name => "Parlamento Vasco") %></p>

<!-- tab_system -->
<div class="tab_system tab_system_subjects">

  <%= render :partial => 'activity/activity_menu' %>

  <!-- tab_cont -->
  <div class="tab_cont">

    <%= render :partial => 'activity/sessions_date' %>

    <!-- discussion_cont -->
    <div class="discussion_cont">
      <h2><%= I18n.t("headers.ultimos_debates") %></h2>
      <!-- discussion_list -->
      <div class="discussion_list">
        <% if !@interventions.blank? %>
            <% for inter in @interventions %>
              <div class="activity discussion">
                <h3 class="title"><%= link_to inter.subject_title, intervention_path(inter) %></h3>
                <!--
                <p class="activity_type"><span><%= link_to inter.subject_title, intervention_path(inter) %></span></p>
                <dl class="activity_meta line">
                  <dt><%= I18n.t("interventions.index.por") %>:</dt>
                  <dd><a class="author" href="#"><%= I18n.t("interventions.index.maeztu_perez_daniel") %></a> <%= I18n.t("interventions.index.de") %> <a class="party_name" href="#"><%= I18n.t("interventions.index.aralar") %></a></dd>
                  <dt><%= I18n.t("interventions.index.para") %>:</dt>
                  <dd><%= I18n.t("interventions.index.consejero_de_sanidad_y_consumo") %></dd>
                </dl>-->
              </div>
            <% end %>
        <% end %>
        <%= will_paginate @interventions, :class => 'pag_nav' %>
      </div>
      <!-- /discussion_list -->
    </div>
    <!-- /discussion_cont -->


  </div>
  <!-- /tab_cont -->
</div>
<!-- /tab_system -->