<h1><%= I18n.t("interventions.index.actividad") %></h1>
<p class="claim"><%= I18n.t("parlamento.claim", :parliament_name => "Parlamento Vasco") %></p>

<!-- tab_system -->
<div class="tab_system tab_system_subjects">

  <%= render :partial => 'activity/activity_menu' %>

  <!-- tab_cont -->
  <div class="tab_cont">

    <%= render :partial => 'activity/sessions_date' %>

    <!-- discussion_cont -->
    <div class="discussion_cont">
      <h2>Últimos debates</h2>
      <!-- discussion_list -->
      <div class="discussion_list">
        <% if !@interventions.blank? %>
            <% for inter in @interventions %>
              <div class="activity discussion">
                <h3 class="title"><%= link_to inter.subject_title, intervention_path(inter) %></h3>
                <!--
                <p class="activity_type"><span><%= link_to inter.subject_title, intervention_path(inter) %></span></p>
                <dl class="activity_meta line">
                  <dt><%= I18n.t("interventions.index.por") %>:</dt>
                  <dd><a class="author" href="#"><%= I18n.t("interventions.index.maeztu_perez_daniel") %></a> <%= I18n.t("interventions.index.de") %> <a class="party_name" href="#"><%= I18n.t("interventions.index.aralar") %></a></dd>
                  <dt><%= I18n.t("interventions.index.para") %>:</dt>
                  <dd><%= I18n.t("interventions.index.consejero_de_sanidad_y_consumo") %></dd>
                </dl>-->
              </div>
            <% end %>
        <% end %>
        <%= will_paginate @interventions, :class => 'pag_nav' %>
      </div>
      <!-- /discussion_list -->
    </div>
    <!-- /discussion_cont -->

    <!-- discussion_sidebar -->
    <div class="discussion_sidebar">
      <!-- parliamentarians_mod -->
      <div class="parliamentarians_mod">
        <h3>Ausentes en la sesión</h3>
        <!-- parliamentarians_list -->
        <div class="parliamentarians_list">

          <!-- parliamentarian -->
          <div class="parliamentarian">
            <p class="photo"><a href="#"><img src="http://parlamento.euskadi.net/img/fichas/149.jpg" alt="Foto de [parliamentarian_name]" width="32" /></a></p>
            <div class="main">
              <h3 class="name"><a href="#"><%= I18n.t("interventions.index.aintzane_ezenarro") %></a></h3>
              <p class="party"><a class="party_name" href="#"><%= I18n.t("interventions.index.aralar") %></a></p>
            </div>
          </div>
          <!-- parliamentarian -->

          <!-- parliamentarian -->
          <div class="parliamentarian">
            <p class="photo"><a href="#"><img src="http://parlamento.euskadi.net/img/fichas/149.jpg" alt="Foto de [parliamentarian_name]" width="32" /></a></p>
            <div class="main">
              <h3 class="name"><a href="#">Patxi López</a></h3>
              <p class="party"><a class="party_name" href="#"><%= I18n.t("interventions.index.aralar") %></a></p>
            </div>
          </div>
          <!-- parliamentarian -->

        </div>
        <!-- /parliamentarians_list -->
      </div>
      <!-- /parliamentarians_mod -->
    </div>
    <!-- /discussion_sidebar -->


  </div>
  <!-- /tab_cont -->
</div>
<!-- /tab_system -->