<h1>Actividad</h1>
<p class="claim">Qué ocurre en el Parlamento Vasco</p>
<%= render :partial => 'activity/activity_menu' %>

<!-- tab_cont -->
<div class="tab_cont">

  <br/><br/> 
  <h3><%= @intervention.subject_title %></h3>
  <p> Por: <%= @intervention.initiative.parliamentarian.full_name if @intervention.initiative %></p>
  <br/>
  <h2>Videos</h2>
  <ul>
    <li><%= @intervention.videos %></li>
  </ul>

  <br/>
  <h2>Intervienen</h2>
  <ul>
    <% if !@intervention.parliamentarians.blank? %>
      <% for parla in @intervention.parliamentarians %>
        <li>
          <%= parlavatar(parla) %>
          <%= link_to parla.full_name, parliamentarian_path(parla) %><br/>
          <%= parla.party.acronym %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <br/>
  <h2>Transcripción</h2>
  <p>Pdf: <%= link_to @intervention.pdf_url, @intervention.pdf_url %></p>
  <ul>
    <% if !@intervention.parliamentarians.blank? %>
      <% for parla in @intervention.parliamentarians %>
        <li>
          <%= parlavatar(parla) %>
          <%= link_to parla.full_name, parliamentarian_path(parla) %><br/>
          <%= parla.party.acronym %>
        </li>
      <% end %>
    <% end %>
  </ul>

</div>




                          
 

