<h1><%= I18n.t("actividad") %></h1>
<p class="claim"><%= I18n.t("parlamento.claim", :parliament_name => "Parlamento Vasco") %></p>

<!-- tab_system -->
<div class="tab_system tab_system_discussions">
  <%= render :partial => 'activity/activity_menu' %>

  <!-- tab_cont -->
  <div class="tab_cont">
    
    <!-- sessions_menu -->
    <%= render :partial => 'activity/sessions_date' %>
    <!-- /sessions_menu -->
    
    <!-- discussion_cont -->
    <div class="discussion_cont">
      
      <!-- discussion -->
      <div class="activity discussion">
        <h3 class="title"><%= link_to @intervention.subject_title, intervention_path(@intervention) %></h3>
        <!--
        <p class="activity_type"><span>Debate y resolución definitiva</span></p>
      -->
        <dl class="activity_meta line">
          <dt><%= I18n.t("info.fecha") %>:</dt>
          <dd><%= @intervention.session_date %></dd>
          <!--
          <dt><%= I18n.t("info.por") %>:</dt>
          <dd><a class="author" href="#">nombre</a> <%= I18n.t("info.de") %> <a class="party_name" href="#">partido</a></dd>
          <dt><%= I18n.t("info.para") %>:</dt>
          <dd>nombre para</dd>
        -->
        </dl>
      </div>
      <!-- /discussion -->
      
      <!-- discussion_cont_cols -->
      <div class="discussion_cont_cols">
      
        <!-- discussion_cont_col_left -->
        <div class="discussion_cont_col discussion_cont_col_left">
  
        <% unless @intervention.videos.empty?%>
          <h3><%= I18n.t("interventions.video") %></h3>
          
          <!-- turn_mod -->
          <div class="turn_mod">
            <!-- turn_list -->
            <div class="turn_list">
                
              <% @intervention.videos.each do |video| %>
        
                <!-- turn -->
                <div class="<%= video_css(video)%>">        
                  <!-- parliamentarian -->
                  <div class="parliamentarian">
                    <p class="photo"><%= parlavatar(video.parliamentarian) if video.parliamentarian %></p>
                    <div class="main">
                      <h5 class="name"><%= video_speaker_name(video)%></h5>
                      <p class="party"><%= video_speaker_party(video)%></p>
                      <dl class="line">
                        <dt><%= I18n.t("interventions.duracion") %></dt>
                        <dd><%= video.duration%> <abbr title="Minutos"><%= I18n.t("interventions.minutos") %>.</abbr></dd>
                      </dl>
                    </div>
                  </div>
                  <!-- parliamentarian -->
        
                  <!-- file_list -->
                  <ul class="file_list">
                    <li>
                      <a class="file file_realvideo" href="<%= video.video_url%>">
                        <span class="file_title"><%= I18n.t("interventions.calidad", :bitrate => "256k") %></span>
                        <span class="file_meta">(<abbr title="RealMedia">RM</abbr>)</span>
                      </a>
                    </li>
                  </ul>
                  <!-- /file_list -->
        
                </div>
                <!-- turn -->
              <% end %>
          
            </div>
            <!-- turn_list -->
          </div>
          <!-- /turn_mod -->
        <% end %>
              
        </div>
        <!-- /discussion_cont_col_left -->
      
        <!-- discussion_cont_col_right -->
        <div class="discussion_cont_col discussion_cont_col_right">
        
          <!-- parliamentarians_mod -->
          <div class="parliamentarians_mod">
            <h3><%= I18n.t("interventions.intervienen") %></h3>
            <!-- parliamentarians_list -->
            <div class="parliamentarians_list">
              <% for parla in @intervention.parliamentarians %>
                <div class="parliamentarian">
                  <%= parlavatar(parla) %>
                  <div class="main">
                    <h3 class="name"><%= link_to parla.full_name, parliamentarian_path(parla) %></h3>
                    <p class="party"><%= link_to parla.party.party_acronym, party_path(parla.party), :class => "party_name" %></p>
                  </div>
                </div>
              <% end %>
            </div>
            <!-- /parliamentarians_list -->
          </div>
          <!-- /parliamentarians_mod -->
        
          <!-- file_mod -->
          <div class="file_mod">
            <h4><%= I18n.t("interventions.transcripcion") %></h4>
            <ul class="file_list">
          
              <li>
                <% link_to @intervention.pdf_url, :class => "file file_pdf" do  %>
                  <span class="file_title"><%= I18n.t("interventions.transcripcion") %> "<%= @intervention.subject_title %>"</span>
                  <span class="file_meta">(<acronym title="Portable Document Format">PDF</acronym>)</span>
                <% end %>
              </li>
          
            </ul>
            
            <!-- balloon -->
            <div class="balloon">
              <p><%= I18n.t("interventions.no_podemos_mas") %></p>
            </div>
            <!-- /balloon -->
            
          </div>
          <!-- /file_mod -->
        
        </div>
        <!-- /discussion_cont_col_right -->
      
      </div>
      <!-- /discussion_cont_cols -->    

    </div>
    <!-- /discussion_cont -->
    
  </div>
  <!-- /tab_cont -->
</div>
<!-- /tab_system -->