<!-- col_left -->
<div class="col_left">
  <h2><%= I18n.t("legislatura") %></h2>
  <ul class="legislature_menu">
    <li><a href="#">2009-2013</a></li>
  </ul>
</div>
<!-- /col_left -->

<!-- main_content -->
<div class="main_content">
  <h1><%= I18n.t("parlamentarios") %></h1>
  <p class="claim"><%= I18n.t("legislatura") %> 2009-2013 | <strong><%= I18n.t("info.total") %>:</strong> <%= @parliamentarians.size %> <%= I18n.t("parlamentarios") %></p>
  
  <!-- parties-parliamentarians -->
  <div class="parties-parliamentarians">
    <h2><%= I18n.t("partidos") %></h2>
    <ul>
      <% @parliamentarians.group_by{|p| p.party}.each do |party, parliamentarians | %>
        <li>  
          <% unless party.acronym.include?("Mixto")%>
            <li>  
              <% link_to party_path(party) do %>
                <%= image_tag party.logo, :size => "143x70" %>
                <strong><%= party.party_acronym %></strong>
                <em><%= parliamentarians.size %> <%= I18n.t("parlamentarios") %></em>
              <% end %>
            </li>                                   
          <% end %>
        </li>
      <% end %>
      
    </ul>
  </div>
  <!-- /parties-parliamentarians -->
  
  <!-- parties-parliamentarians -->
  <div class="parties-parliamentarians">
    <h2><%= I18n.t("grupo_mixto") %></h2>
    <ul>
      <% @parliamentarians.group_by{|p| p.party}.each do |party, parliamentarians | %>
        <% if party.acronym.include?("Mixto")%>
          <li>  
            <% link_to party_path(party) do %>
              <%= image_tag party.logo, :size => "143x70" %>
              <strong><%= party.party_acronym %></strong>
              <em><%= parliamentarians.size %> <%= I18n.t("parlamentarios") %></em>
            <% end %>
          </li>                                   
        <% end %>
      <% end %>
    </ul>
  </div>
  <!-- /parties-parliamentarians -->
  
</div>
<!-- /main_content -->