<!-- parliamentarian_sheet -->
<div class="parliamentarian_sheet">
  
  <p class="photo"><%= parlavatar(@parliamentarian, 100) %></p>
  
  <!-- main -->
  <div class="main">
    <h1><%= @parliamentarian.full_name %></h1>
    <p><%= link_to @parliamentarian.party.name, party_path(@parliamentarian.party) %></p>
    <%= status_button(@parliamentarian) %>
    
    <!-- parliament_data -->
    <div class="parliament_data">
      <dl class="line">
        <% if @parliamentarian.degree %>
          <dt>Titulaci칩n:</dt>
          <dd><%= @parliamentarian.degree %></dd>
        <%end%>
        <% if @parliamentarian.profession %>
          <dt>Profesi칩n:</dt>
          <dd><%= @parliamentarian.profession %></dd>
        <%end%>
        <% if @parliamentarian.languages %>
          <dt>Idiomas:</dt>
          <dd><%= @parliamentarian.languages %></dd>
        <%end%>
        <% if @parliamentarian.email %>
          <dt>e-mail:</dt>
          <dd><%= mail_to @parliamentarian.email %></dd>
        <%end%>
      </dl>

      <dl class="line">
        <dt>Sueldo:</dt>
        <dd>Calculando... <a href="http://partaide.parlam.euskadi.net/galdera/503/">Ver m치s</a></dd>
        
        <% if !@parliamentarian.posts.blank? %>    
          <dt>Cargos:</dt>
          <% for post in @parliamentarian.posts %>
            <dd class="block"><%= post.title %></dd>
          <% end %>
          </ul>
        <% end %>        
      </dl>
    </div>
    <!-- /parliament_data -->
  </div>
  <!-- /main -->
</div>
<!-- /parliamentarian_sheet -->

<!-- parliamentarian_activity -->
<div class="parliamentarian_activity">
  
  <h2>Actividad parlamentaria</h2>

  <!-- legislature_menu -->
  <div class="legislature_menu">
    <h3>Legislaturas</h3>
    <ul>
      <li class="active"><a href="#">2009-Actualidad</a></li>
<!--
      <li><a href="#">2005-2009</a></li>
      <li><a href="#">2001-2005</a></li>
-->      
    </ul> 
  </div>
  <!-- /legislature_menu -->
  
  <!-- parliamentarian_activity_cont -->
  <div class="parliamentarian_activity_cont">
    <h3>Gr치fica de su actividad anual</h3>
    <div class="activity_graph">
      <%= inline_annotated_timeline @activity_data, "100%", 300, 
                                    "parliamentarian_#{@parliamentarian.id}_activity_data" %>
                                    <br/>
    </div>

    <!-- parliamentarian_activity_menu -->
    <ul class="parliamentarian_activity_menu">
      <li class="first <%= "active" if @initiatives %>"><%= link_to "Asuntos", initiatives_parliamentarian_path(@parliamentarian)%></li>
      <li <%= "class=\"active\"" if @interventions %>><%= link_to "Debates", interventions_parliamentarian_path(@parliamentarian)%></li>
      <li class="last <%= "active" if @commission_members %>"><%= link_to "Comisiones", commisions_parliamentarian_path(@parliamentarian)%></li>
    </ul>
    <!-- /parliamentarian_activity_menu -->
    
    <%= render(:partial => 'initiatives', :locals => {:initiatives => @initiatives}) if @initiatives %>
    <%= render(:partial => 'interventions', :locals => {:interventions => @interventions}) if @interventions %>
    <%= render(:partial => 'commissions', :locals => {:commission_members => @commission_members}) if @commission_members %>
    
  </div>
  <!-- /parliamentarian_activity_cont -->
  
</div>
<!-- /parliamentarian_activity -->