<p><%= @parliamentarian.full_name %></p>
<%= image_tag @parliamentarian.photo %>   
    
<ul>
  <li>Titulación: <%= @parliamentarian.profession %></li>
  <li>Email: <%= mail_to @parliamentarian.email %></li>
</ul>

<%= inline_annotated_timeline @activity_data, 400, 300, 
                              "parliamentarian_#{@parliamentarian.id}_activity_data" %>
<br/><br/>
<h2>Cargos</h2>
<% if !@parliamentarian.posts.blank? %>
<ul>     
  <% for post in @parliamentarian.posts %>
    <li><%= post %></li>
  <% end %>
</ul>
<% end %>
                         
<h2>Asuntos</h2>
<% if !@parliamentarian.initiatives.blank? %>
  <ul>
    <% for ini in @parliamentarian.initiatives %>
      <li><%= link_to ini.num_exp, initiative_path(ini) %> | <%= ini.title %></li>
    <% end %>
  </ul>
<% end %>

<h2>Debates</h2>    

<% if !@parliamentarian.interventions.blank? %>
  <ul>
    <% for inter in @parliamentarian.interventions %>
      <li><%= link_to inter.session_date, intervention_path(inter) %> | <%= inter.subject_title %></li>
    <% end %>
  </ul>
<% end %>


<h2>Comisiones</h2>


