<p><%= @parliamentarian.full_name %></p>
<%= image_tag @parliamentarian.photo %>   
    
<ul>
  <li>Profesión: <%= @parliamentarian.profession %></li>
  <li>Titulación: <%= @parliamentarian.degree %></li>
  <li>Idiomas: <%= @parliamentarian.languages %></li>
  <li>Email: <%= mail_to @parliamentarian.email %></li>
</ul>

<%= inline_annotated_timeline @activity_data, 400, 300, 
                              "parliamentarian_#{@parliamentarian.id}_activity_data" %>
<br/><br/>
<% if !@parliamentarian.posts.blank? %>
  <h2>Cargos</h2>
  <ul>     
    <% for post in @parliamentarian.posts %>
      <li><%= post.title %></li>
    <% end %>
  </ul>
<% end %>
                         
<% if !@parliamentarian.initiatives.blank? %>
  <h2>Asuntos</h2>
  <ul>
    <% for ini in @parliamentarian.initiatives %>
      <li><%= link_to ini.num_exp, initiative_path(ini) %> | <%= ini.title %></li>
    <% end %>
  </ul>
<% end %>


<% if !@parliamentarian.interventions.blank? %>
  <h2>Debates</h2>    
  <ul>
    <% for inter in @parliamentarian.interventions %>
      <li><%= link_to inter.session_date, intervention_path(inter) %> | <%= inter.subject_title %></li>
    <% end %>
  </ul>
<% end %>


<% if !@parliamentarian.commissions.blank? %>
  <h2>Comisiones</h2>
  <ul>
    <% for c in @parliamentarian.commissions %>
      <li><%= link_to c.name, commision_path(c) %></li>
    <% end %>
  </ul>
<% end %>



