<h1>Actividad</h1>
<p class="claim">Qué ocurre en el Parlamento Vasco</p>

<!-- tab_system -->
<div class="tab_system tab_system_subjects">

  <%= render :partial => 'activity/activity_menu' %>

  <!-- tab_cont -->
  <div class="tab_cont">

    <%= render :partial => 'activity/topics' %>

    <!-- subject_cont -->
    <div class="subject_cont subject_cont_category">

        <h2>Etiquetadas con <%= @tag.name %></h2>
        
        <% if !@taggings.blank? %>

          <% for ini in  @taggings %>
          <!-- subject -->
          <div class="activity subject">
            <h3 class="title">
              <%= link_to ini.title, initiative_path(ini) %>
            </h3>
            <p class="subject_type"><span><%= ini.initiative_type %></span></p>
             
            <%= render :partial => 'activity/activity_tags', :locals => { :activity => ini } %>

            <%= render :partial => 'activity/activity_meta_line', :locals => { :activity => ini } %>
          </div>
          <% end %>

        <% end %>
        
        <%= will_paginate @initiatives, :class => 'pag_nav' %>

        <!-- rss_mod -->
        <a class="rss_mod">
          <strong>¿Te interesa?</strong>
          <span>Suscríbete a las actualizaciones de este tema vía <acronym title="Really Simple Syndication">RSS</acronym>.</span>
        </a>
        <!-- /rss_mod -->

      </div>
      <!-- /subject_cont -->

      <!-- subject_sidebar -->
      <div class="subject_sidebar">

        <!-- most_active_parliamentarians -->
        <div class="activity_stat most_active_parliamentarians">
          <h2>Parlamentarios más activos</h2>
          <!-- parliamentarians_list -->
          <div class="parliamentarians_list">        
            
            <% if !@most_active_parliamentarians.blank? %>
              <% for parla in @most_active_parliamentarians %>
                <%#= parla.full_name %>                       
                <div class="parliamentarian">
                  <%= parlavatar(parla[0]) %>
                  <div class="main">
                    <h3 class="name"><%= link_to parla[0].full_name, parliamentarian_path(parla[0]) %></h3>
                    <p class="party"><%= link_to parla[0].party.party_acronym, party_path(parla[0].party), :class => "party_name" %></p>
                    <p class="subject_num"><%= parla[1].size %> iniciativas</p>
                  </div>
                </div>
              <% end %>
            <% end %>

          </div>
          <!-- /parliamentarians_list -->
        </div>
        <!-- /most_active_parliamentarians -->


      </div>





    </div>
    <!-- /subject_cont -->

  </div>
  <!-- /tab_cont -->
</div>
<!-- /tab_system -->
